.footerWeatherIcon {
	width: 100px;
	height: 100px;
}

.footerWeatherDegrees {
	font-size: 20px;
}

.weatherColumn {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	padding: 0 15px 30px;
}

.weatherColumnWrapper {
	padding-top: 30px;
	background-color: rgb(41%, 14%, 14%, 1);
	width: 100%;
}

.weatherColumnWrapper:nth-child(2) {
	background-color: rgb(41%, 14%, 14%, 0.8);
}
.weatherColumnWrapper:nth-child(3) {
	background-color: rgb(41%, 14%, 14%, 0.5);
}
