.main {
	display: flex;
	flex: 1 1 auto;
	height: 100%;
}

.mainWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0 8px;
	flex: 1 1 auto;
}

.timeSections {
	font-size: 50px;
	font-weight: 700;
}

.citySelect {
	display: flex;
	align-items: center;
}

.city {
	display: flex;
	align-items: center;
	gap: 10px;
}

.locationIcon {
	width: 20px;
	height: 20px;
}

.weatherInfo {
	display: flex;
	justify-content: space-between;
}

.weatherIcon {
	width: 200px;
	height: 200px;
}

.weatherDescriptions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 20px;
}

.weatherUnitsDegrees {
	font-size: 35px;
	font-weight: 600;
}
