.header {
	margin-bottom: 10px;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	padding: 4px 8px;
}

.headerDate {
	font-size: 17px;
	font-weight: 500;
}

.btnWrapper {
	display: flex;
	gap: 10px;
}

.switchUnits,
.btnUpdate {
	border: 2px solid rgba(130, 35, 35, 1);
	border-radius: 50%;
	width: 32px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	color: rgb(18%, 16%, 16%, 0.8);
	font-size: 20px;
}

.arrowUpd {
	width: 20px;
	height: 20px;
}
